
{% extends "base.html" %}
{% load project_tags %}

{% load bootstrap4 %}

{% load static %}




{% block navblock %}

<style>
.navbar-custom {
    background-color: #CF4520;
}
/* Link */
.navbar-custom .navbar-nav > li > a:hover,
.navbar-custom .navbar-nav > li > a:focus {
    color: #777;
    background-color: #E87722;
}

body { padding-top: 55px; }
</style>

<nav class="navbar navbar-expand-md navbar-custom fixed-top">
    <a class="navbar-brand" href="/">{{ APPTITLE }}</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" 
            data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" 
            aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            {# ## ### WCM ICON ### ## #}
            <li>
              <img 
              height="50"
              src="{% static "dcfront/WCM_MB_LOGO_HZSS1L_WHT_RGB.png" %}" 
              href="https://weill.cornell.edu"
              alt="Return to Weill Cornell home page">
            </li>
            
            {# ## ### PAGE TITLE ### ## #}
            <li>{% block pagetitle %}{% endblock %}</li>
        </ul>    
        
        <ul class="navbar-nav ml-auto">    
            {% if user.is_authenticated %}
            {# ## ### USER ADMIN OPTIONS ### ## #}
            <li class="nav-item dropdown ml-auto">
                <a  class="nav-link dropdown-toggle btn-outline-light" 
                    href="#" id="AdminDropdown" 
                    role="button" data-toggle="dropdown" 
                    aria-haspopup="true" aria-expanded="false">
                    {{ user.get_username }} <b class="caret"></b>
                </a>
            <div class="dropdown-menu" aria-labelledby="AdminDropdown">
              <a class="dropdown-item" href="{% url 'admin:index' %}" target="_blank">
                Admin</a>
              <a class="dropdown-item" href="{% url 'frontpage' %}">
                Data Core Frontpage</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="/logout">Logout </a>
            </div>        
            </li>
            
            {% else %}
            <li><a style="color:white;" 
                   href="/accounts/login">Login</a></li>
            {% endif %}         
            
        </ul> 
    </div>
</nav>


{% endblock %}