
{% extends "base.html" %}
{% load project_tags %}

{% load bootstrap4 %}

{% load static %}




{% block navblock %}

<style>
.navbar-custom {
    background-color: #CF4520;
}
/* Link */
.navbar-custom .navbar-nav > li > a:hover,
.navbar-custom .navbar-nav > li > a:focus {
    color: #777;
    background-color: #E87722;
}
</style>

        <div class="navbar navbar-custom navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <a style="color:white;" class="navbar-brand" 
                       href="/">{{ APPTITLE }}</a>
                    <button class="navbar-toggle" 
                            data-target="#navbar-main" 
                            data-toggle="collapse" 
                            type="button">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
                <div id="navbar-main" class="navbar-collapse collapse">
                    
                    <ul class="nav navbar-nav navbar-custom">
                        <li>
                          <img 
                          height="50"
                          src="{% static "dcfront/WCM_MB_LOGO_HZSS1L_WHT_RGB.png" %}" 
                          alt="My image">
                        </li>
                    </ul>
                    <ul class="nav navbar-nav col-sm-3 col-md-3 pull-right">
                        <li>
                          <a style="color:white;"
                             href="https://weill.cornell.edu">WCM</a>
                        </li>
                    </ul>
                    
                    
                    <ul class="nav navbar-nav navbar-left navbar-custom">
                        <li>{% block pagetitle %}{% endblock %}</li>
                    </ul>
                    
                                       
                    
                    <ul class="nav navbar-nav navbar-right">
                        {% if user.is_authenticated %}
                            <li class="dropdown navbar-custom">
                              <a class="dropdown-toggle navbar-custom" 
                                id="dropblast" 
                                data-toggle="dropdown"
                                href="#"
                                style="color:white;">
                                {{ user.get_username }} <b class="caret"></b>
                              </a>
                              <ul class="dropdown-menu" 
                                    role="menu" 
                                    aria-labelledby="dropblast">
                                    <li><a href="{% url 'admin:index' %}" 
                                           target="_blank">Admin</a>
                                    </li>
                                    <li><a href="/logout/">Logout </a></li>
                                    
                              </ul>
                              
                            </li>
                            
                       
                        {% else %}
                            <li><a style="color:white;" 
                                   href="/accounts/login/">Login</a></li>
                            
                        {% endif %}
                    </ul> 
                </div>
            </div>
        </div>
{% endblock %}