
{% extends "dcfront/base-front.html" %}

{% load static %}
{% load bootstrap4 %}

{% load crispy_forms_tags %}
{% load project_tags %}

{% block content %}

<h1 style="color:#B31B1B;">Welcome to the Data Core homepage</h1>
<p>For any questions about access to content on this site, or to report any issues, please email dcore-ticket@med.cornell.edu</p>
</br>
</br>


{% if user.is_authenticated %}
<h4>Actions available for {{ request.user.first_name }} {{ request.user.last_name }} ({{ request.user.username }}):</h4>
    <a type="button" class="btn btn-warning btn-block" 
       href="/logout/">Log out</a>
    <a type="button" class="btn btn-danger btn-block" 
       href="{% url 'datacatalog:index' %}">
            Go to Data Catalog</a>
{% else %}
    <a type="button" class="btn btn-warning btn-block" 
       href="/accounts/login/">Log in</a>
{% endif %}

{% if request.user|has_group:"datacatalog_editor" or request.user|has_group:"dcore_editor" %}
    <a type="button" class="btn btn-danger btn-block"
       href="{% url 'persons:index' %}" >
       Go to Person, Org, Dept Management</a>
{% endif %}

{% if request.user|has_group:"dcore_viewer"  or request.user|has_group:"dcore_editor" %}
    <a type="button" class="btn btn-danger btn-block"
       href="{% url 'dc_management:index' %}" >
       Go to Data Core Management</a>
{% endif %}

</br>
</br>
{% comment %}
<img height="150"
     src="{% static 'dcfront/WCM_MB_LOGO_HZSS2L_CLR_RGB.png' %}" alt="WCM">
{% endcomment %}



{% endblock %}

