
{% extends "dcfront/base-front.html" %}

{% load static %}
{% load bootstrap4 %}

{% load crispy_forms_tags %}
{% load project_tags %}

{% block content %}

{% comment  %}
<style>
.card-outline-primary{background-color:transparent;border-color:#0275d8}.card-outline-secondary{background-color:transparent;border-color:#ccc}.card-outline-info{background-color:transparent;border-color:#5bc0de}.card-outline-success{background-color:transparent;border-color:#5cb85c}.card-outline-warning{background-color:transparent;border-color:#f0ad4e}.card-outline-danger{background-color:transparent;border-color:#d9534f}
</style>
{% endcomment  %}

<h1 style="color:#B31B1B;">Welcome to the Data Core homepage</h1>
<p>For any questions about access to content on this site, or to report any issues, please email dcore-ticket@med.cornell.edu</p>



<div class="row">

  {# SERVICE CATALOG CARD #}
  <div class="col-sm-3">
    <div class="card h-100 shadow">
      <div class="card-body">
        <h5 class="card-title">Data Core Service Catalog</h5>
        <p class="card-text">View our service catalog, where you can see prices for various configurations of a Data Core project.</p>
      </div>
      <div class="card-footer">  
        <a type="button" class="btn btn-success w-100"
           href="https://its.weill.cornell.edu/services/research-informatics/wcm-data-core" >
           SERVICE CATALOG</a>
      </div>
    </div>
  </div>
  
  {# ONBOARDING CARD #}
  <div class="col-sm-3">
    <div class="card h-100 shadow">
      <div class="card-body">
        <h5 class="card-title">Request a new Data Core project</h5>
        <p class="card-text">This will take you to our form to request a new project.</p>
      </div>
      <div class="card-footer">  
        <a type="button" class="btn btn-success"
           href="https://wcmcprd.service-now.com/myhelpdesk?id=sc_cat_item&sys_id=853a669c13c4f34037507b104244b09d" >
           REQUEST NEW PROJECT</a>
      </div>
    </div>
  </div>
  
  {# INCIDENT CARD #}
  <div class="col-sm-3">
    <div class="card h-100 shadow">
      <div class="card-body">
        <h5 class="card-title">Report an incident with Data Core</h5>
        <p class="card-text">If you cannot log in, you have inadvertently deleted a file, or your Data Core project is not behaving as expected.</p>
      </div>
      <div class="card-footer">  
        <a type="button" class="btn btn-danger w-100"
           href="https://wcmcprd.service-now.com/myhelpdesk?id=sc_cat_item&sys_id=3f1dd0320a0a0b99000a53f7604a2ef9&sysparm_category=009b496f0f85af00911291dbe1050e56" >
           REPORT INCIDENT</a>
      </div>
    </div>
  </div>
  
  {# REQUEST CARD #}
  <div class="col-sm-3">
    <div class="card h-100 shadow">
      <div class="card-body">
        <h5 class="card-title">Request a change to your Data Core project</h5>
        <p class="card-text">Add users to project, request data import/export, or install new software.</p>
      </div>
      <div class="card-footer">  
        <a type="button" class="btn btn-warning w-100"
           href="https://wcmcprd.service-now.com/myhelpdesk?id=sc_cat_item&sys_id=2a73bbaadbc42c146f4e105f689619f9&sysparm_category=4b63ad5f137c3f8037507b104244b032" >
           REQUEST CHANGE</a>
      </div>
    </div>
  </div>
  
</div>

</br>

{% if user.is_authenticated %}
<h4>Actions available for {{ request.user.first_name }} {{ request.user.last_name }} ({{ request.user.username }}):</h4>
    <a type="button" class="btn btn-warning btn-block" 
       href="/logout">Log out</a>
    <a type="button" class="btn btn-danger btn-block" 
       href="{% url 'datacatalog:index' %}">
            Go to Data Catalog</a>
{% else %}
    <a type="button" class="btn btn-warning btn-block" 
       href="/accounts/login">Log in</a>
{% endif %}

{% if request.user|has_group:"datacatalog_editor" or request.user|has_group:"dcore_editor" %}
    <a type="button" class="btn btn-danger btn-block"
       href="{% url 'persons:index' %}" >
       Go to Person, Org, Dept Management</a>
{% endif %}

{% if request.user|has_group:"dcore_viewer"  or request.user|has_group:"dcore_editor" %}
    <a type="button" class="btn btn-danger btn-block"
       href="{% url 'dc_management:index' %}" >
       Go to Data Core Management</a>
{% endif %}

{% if request.user|has_group:"record_viewing_privileges"  %}
    <a type="button" class="btn btn-danger btn-block" 
       href="{% url 'covidskills:index' %}">
            Go to ITS COVID Skills Inventory</a>
{% endif %}

</br>
</br>
{% comment %}
<img height="150"
     src="{% static 'dcfront/WCM_MB_LOGO_HZSS2L_CLR_RGB.png' %}" alt="WCM">
{% endcomment %}

{% comment %}
{% if user.is_authenticated %}
<div class="card px-4 py-4 mx-5 my-5 bg-warning">

    <a type="button" class="btn btn-danger btn-block" 
       href="{% url 'covidskills:index' %}">
            CLICK HERE TO CONNECT TO THE ITS COVID SKILLS INVENTORY</a>
</div>
{% else %}
    <a type="button" class="btn btn-warning btn-block" 
       href="/accounts/login">Log in to gain access to the skills inventory</a>
{% endif %}
{% endcomment %}


{% endblock %}

