
{% extends "dcfront/base-front.html" %}

{% load static %}
{% load bootstrap4 %}

{% load crispy_forms_tags %}
{% load project_tags %}

{% block content %}

{% comment  %}
<style>
.card-outline-primary{background-color:transparent;border-color:#0275d8}.card-outline-secondary{background-color:transparent;border-color:#ccc}.card-outline-info{background-color:transparent;border-color:#5bc0de}.card-outline-success{background-color:transparent;border-color:#5cb85c}.card-outline-warning{background-color:transparent;border-color:#f0ad4e}.card-outline-danger{background-color:transparent;border-color:#d9534f}
</style>
{% endcomment  %}

<h1 style="color:#B31B1B;">Welcome to the Data Core homepage</h1>
<p>For any questions about access to content on this site, or to report any issues, please email dcore-ticket@med.cornell.edu</p>

{# LOGIN OPTIONS #}
{% if user.is_authenticated %}
    <a class="btn btn-warning btn-block"
       href="/logout">Log out {{ request.user.first_name }}
                              {{ request.user.last_name }}
                              ({{ request.user.username }})</a>
{% else %}
    <a class="btn btn-warning btn-block"
       href="/accounts/login">Log in</a>
{% endif %}

</br>

{# CARD DECKS #}
<div class="card-deck">
    {% if user.is_authenticated %}
         {# DATA RETENTION PROJECT VIEW #}
        <div class="card shadow">
          <div class="card-body">
            <h5 class="card-title">Data Retention Dashboard</h5>
            <p class="card-text">View and update your projects and datasets.</p>
          </div>
          <div class="card-footer">
            <a  class="btn btn-success w-100"
               href="{% url 'datacatalog:projects-byuser' %}" >
               VIEW MY PROJECTS</a>
          </div>
        </div>

         {# NEW DATA RETENTION REQUEST #}
        <div class="card shadow">
          <div class="card-body">
            <h5 class="card-title">Request Data Retention</h5>
            <p class="card-text">Use our retention request wizard to archive data associated
                                 with a completed project milestone.</p>
          </div>
          <div class="card-footer">
            <a  class="btn btn-danger w-100"
               href="{% url 'datacatalog:wizard-project' %}" >
               NEW RETENTION REQUEST</a>
          </div>
        </div>

         {# DATA CATALOG #}
         <div class="card shadow">
          <div class="card-body">
            <h5 class="card-title">Data Catalog</h5>
            <p class="card-text">View details of datasets available for research at WCM. You can also submit metadata
                                    of your own datasets for others to discover.</p>
          </div>
          <div class="card-footer">
            <a  class="btn btn-primary w-100"
               href="{% url 'datacatalog:index' %}" >
               DATA CATALOG</a>
          </div>
        </div>
    {% endif %}

    {# Person database access #}
    {% if request.user|has_group:"datacatalog_editor" or request.user|has_group:"dcore_editor" %}
        <div class="card shadow">
          <div class="card-body">
            <h5 class="card-title">Person Database</h5>
            <p class="card-text">View and update details of people, departments and organizations for use in MIDAS and
                                  the Data Catalog</p>
          </div>
          <div class="card-footer">
            <a  class="btn btn-warning w-100"
               href="{% url 'persons:index' %}" >
               PERSONS DB</a>
          </div>
        </div>
    {% endif %}

    {# MIDAS access #}
    {% if request.user|has_group:"dcore_viewer"  or request.user|has_group:"dcore_editor" %}
        <div class="card shadow">
          <div class="card-body">
            <h5 class="card-title">MIDAS</h5>
            <p class="card-text">Manage Data Core project details.</p>
          </div>
          <div class="card-footer">
            <a  class="btn btn-warning w-100"
               href="{% url 'dc_management:index' %}" >
               MIDAS</a>
          </div>
        </div>
    {% endif %}
</div>

</br>

{# Data Core service cards (always visible) #}
<div class="card-deck">

  {# SERVICE CATALOG CARD #}
    <div class="card shadow">
      <div class="card-body">
        <h5 class="card-title">Data Core Service Catalog</h5>
        <p class="card-text">View our service catalog, where you can see prices for various configurations of a Data Core project.</p>
      </div>
      <div class="card-footer">  
        <a  class="btn btn-success w-100"
           href="https://its.weill.cornell.edu/services/research-informatics/wcm-data-core" >
           SERVICE CATALOG</a>
      </div>
    </div>

  {# ONBOARDING CARD #}
    <div class="card shadow">
      <div class="card-body">
        <h5 class="card-title">Request a new Data Core project</h5>
        <p class="card-text">This will take you to our form to request a new project.</p>
      </div>
      <div class="card-footer">  
        <a  class="btn btn-success"
           href="https://wcmcprd.service-now.com/myhelpdesk?id=sc_cat_item&sys_id=853a669c13c4f34037507b104244b09d" >
           REQUEST NEW PROJECT</a>
      </div>
    </div>

  {# INCIDENT CARD #}
    <div class="card shadow">
      <div class="card-body">
        <h5 class="card-title">Report an incident with Data Core</h5>
        <p class="card-text">If you cannot log in, you have inadvertently deleted a file, or your Data Core project is not behaving as expected.</p>
      </div>
      <div class="card-footer">  
        <a  class="btn btn-danger w-100"
           href="https://wcmcprd.service-now.com/myhelpdesk?id=sc_cat_item&sys_id=3f1dd0320a0a0b99000a53f7604a2ef9&sysparm_category=009b496f0f85af00911291dbe1050e56" >
           REPORT INCIDENT</a>
      </div>
    </div>

  {# REQUEST CARD #}
    <div class="card shadow">
      <div class="card-body">
        <h5 class="card-title">Request a change to your Data Core project</h5>
        <p class="card-text">Add users to project, request data import/export, or install new software.</p>
      </div>
      <div class="card-footer">  
        <a  class="btn btn-warning w-100"
           href="https://wcmcprd.service-now.com/myhelpdesk?id=sc_cat_item&sys_id=2a73bbaadbc42c146f4e105f689619f9&sysparm_category=4b63ad5f137c3f8037507b104244b032" >
           REQUEST CHANGE</a>
      </div>
    </div>

</div>


{% endblock %}

